<html>
	<center>
		<body>
			<div style="margin-top: 300px; height: 700px; width: 950px;">
		<form  method="POST" action="/download">
		<input name="url" id=url placeholder='Paste Youtube Video link'></input>
		<input type=submit value='Download'></input>
		</form>
		</div>
		</body>
		</body>
		</center>
		</html>